all {
	width: 200%;
	heigth: 200%;
	display: flex;
}

/*rowの代わり*/
.function {
	width: 90%;
}

.toptitle {
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.box{
 margin : 30px ;
 margin-right :115px ;
 margin-bottom :115px ;
 width:200px;
 height:100px;
 float:left;
}

.student{
	 background-color:#FFBEDA;
}

.grade{
	background-color:#BAD3FF;
}

.subject{
	background-color:#CBFFD3	;
}

.button{
  color: #00662d;
  text-shadow: -1px -1px 1px #00ff71;
  border-bottom: 5px solid #00662d;
}

.button:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00662d;
}

/* サイドメニュータイトル */
.sidemenu_title {
    display: block;
    width: 100%;
    padding: 12px 0;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    background-color: #cce1ff;
}

.sidemenu_title.current {
    background-color: #DEEBF7;
}

.sidemenu_title.current a {
    color: #555;
}

.sidemenu_title:hover {
    background-color: #cce1ff;
}

/* サイドサブタイトル */
.submenu_title {
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
}
.submenu_title{
display: table-cell;
min-width: 50px;
}
.submenu_title{
display: block;
width: 100%;
padding: 8px 0;
text-decoration: none;
color: #555;
font-weight: lighter;
}
.submenu_title.current{
background-color: #DEEBF7;
}
.submenu_title.current a{
color: #555;
}

.submenu_title:hover{
background-color: #f2f8ff;
}

/* 相対位置の指定 */
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

/* 	sticky外し */
footer{
    width: 100%;
    text-align: center;
    padding: 1px 0;
    bottom: 0; /*下に固定*/
}

.textsize {
	width: 100%;
}

.select-wide {
	margin-left: 5rem !important;
}

.test-wide{
  display: flex;
}

.list-style {
	flex: 0 0 auto;
	width: 20%;
}

.select-style {
	float: left;
}

table {
	width: 80%;
	gap: 0px 20px;
}

/*メニューページのボタン1*/
.bt {
	width : 300px;
	height : 100px;
	font-size : 150%;
	 font-family: "";
	 background-color: #FFBEDA;
	 color :  #000000;
	 border: none;
	 transition: background-color 0.5s;
}

.bt:hover {
	 font-family: "";
	 background-color: #ffaed7;
	 color :  #000000;
	 font-size : 160%;
}

/*メニューページのボタン2*/
.bt2 {
	width : 300px;
	height : 100px;
	font-size : 150%;
	 font-family: "";
	 background-color: #BAD3FF;
	 color :  #000000;
	 border: none;
	 transition: background-color 0.5s;
}

.bt2:hover {
	 font-family: "";
	 background-color: #accfff;
	 color :  #000000;
	 font-size : 160%;
}

/*メニューページのボタン3*/
.bt3 {
	width : 300px;
	height : 200px;
	font-size : 150%;
	 font-family: "";
	 background-color: #CBFFD3;
	 color :  #000000;
	 border: none;
	 transition: background-color 0.5s;
}

.bt3:hover {
	 font-family: "";
	 background-color: #b5fbb7;
	 color :  #000000;
	 font-size : 160%;
}

/*サイドメニューのボタンを浮かせて左に寄せ、可動域を画面いっぱいにする*/
.side-high {
	position: absolute;
	right: 0;
	height: 100%;
}

/*サイドメニューを浮かせて左に寄せ、可動域を画面いっぱいにし幅を20%にする*/
.side-high2 {
	position: absolute;
	right: 0;
	height: 100%;
	width: 20%;
}

/* サイドメニュー本体の装飾 */
header {
  background: #333;
  padding: .5rem;
  text-align: right;
}
a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.side_bt {
	margin-top: 50px;
	margin-bottom: 30px;
	background: #8cc6ff;
	color: #000;
	border: none;
	width: 100%;
	height: 40px;
	font-size: 100%;
	transition: background-color 0.5s;
}

.side_bt2 {
	margin-bottom: 30px;
	background: #8cc6ff;
	color: #000;
	border: none;
	width: 100%;
	height: 40px;
	font-size: 100%;
	transition: background-color 0.5s;
}

.side_bt:hover {
	background-color: #5badff;
	font-size: 110%
}

.side_bt2:hover {
	background-color: #5badff;
	font-size: 110%
}

/* ボタン */
.btn-menu {
  position: sticky;
  top: 0;
  z-index : 10;
  border: 1px solid #999;
  background: #8cc6ff;
  color: #000;
  height: 43px;
  width: 55px;
  cursor: pointer;
  line-height: 1;
  border-color: #fff;
  font-size : 150%;
  transition: background-color 0.5s;
}

.btn-menu:hover {
	background: #5badff;
	font-size : 160%;
}

/* メニュー */
nav {
  background: #8cc6ff;
  position: sticky;
  top: 0;
  float: right;
  z-index: 1;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: .5s;
  height: 585px
}
/* メニューを開いた時 */
nav.open-menu {
  width: 100%;
}

/* 更新 */
