all {
	width: 200%;
	heigth: 200%;
	display: flex;
	font-family: 'Noto Serif JP', sans-serif;

}
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
/*エラー文*/
#error-message {
	color: red;
	font-size: small;

}

/*rowの代わり*/
.function {
	width: 90%;
}

.toptitle {
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	text-align: center;
	padding: 0.35em;
	font-size: 50px;
	letter-spacing: 1.8px;
}

.login-link {
   position: absolute;
   right: 0;
   top: 0;
   font-size: 0.5em;
   padding: 0.2em 0.5em; /* リンクのパディングを調整 */
   text-decoration: none; /* 下線を消す */
   color: #007bff; /* リンクの色を設定（変更可能） */
}
.login-link:hover {
   text-decoration: none;
}

.box{
 margin : 40px ;
 margin-right :70px ;
 margin-bottom :100px ;
 width:250px;
 height:100px;
 float:left;
}

.student{
	 background-color:#FFBEDA;
}

.grade{
	background-color:#BAD3FF;
}

.subject{
	background-color:#CBFFD3	;
}

.button{
  color: #00662d;
  text-shadow: -1px -1px 1px #00ff71;
  border-bottom: 5px solid #00662d;
}

.button:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00662d;
}



/* 相対位置の指定 */
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

/* 	sticky外し */
footer{
    width: 100%;
    text-align: center;
    padding: 1px 0;
    bottom: 0; /*下に固定*/
}

.textsize {
	width: 100%;
}

.select-wide {
	margin-left: 5rem !important;
}

.test-wide{
  display: flex;
}

/*test_regist.jspのセレクトボックスの幅と空白*/
.list-style {
	width: 15%;
	margin-right: 30px;
}

/*test_regist.jspのセレクトボックスの幅と空白その2*/
.list-style2 {
	width: 30%;
	margin-right: 30px;
}

.select-style {
	float: left;
}

.select-shape {
	width: 100%;
	height: 35px;
	margin-bottom :20px ;
}

.select-shape2 {
	width: 97%;
	height: 35px;
	margin-bottom :20px ;
}

.select-shape3 {
	border: none;
	height: 35px;
	margin-bottom :20px ;
}

.test-table {
	width: 95%;
	gap: 0px 20px;
}

.test-table-width {
	width: 10%;
}

.test-table-wide {
	width: 30%;
	height: 45px;
}

.test-boder {
	border-top:1px solid #c7c7c7;
}

.test-boder2 {
	border-top:1px solid #c7c7c7;
}

/*test_regist.jspのセレクトボックスの縦幅*/
.test-select {
	width: 100%;
	height: 30px;
}

.test-btn {
	margin-left: 30px;
}

/*メニューページのボタン1*/
.bt {
	width : 300px;
	height : 100px;
	font-size : 150%;
	 background-color: #FFBEDA;
	 color :  #000000;
	 border: none;
	 transition: background-color 0.5s;
}

.bt:hover {
	 background-color: #ffaed7;
	 color :  #000000;
	 font-size : 160%;
}

/*メニューページのボタン2*/
.bt2 {
	width : 300px;
	height : 100px;
	font-size : 150%;
	 background-color: #BAD3FF;
	 color :  #000000;
	 border: none;
	 transition: background-color 0.5s;
}

.bt2:hover {

	 background-color: #accfff;
	 color :  #000000;
	 font-size : 160%;
}

/*メニューページのボタン3*/
.bt3 {
	width : 300px;
	height : 200px;
	font-size : 150%;
	 background-color: #CBFFD3;
	 color :  #000000;
	 border: none;
	 transition: background-color 0.5s;
}

.bt3:hover {
	 background-color: #b5fbb7;
	 color :  #000000;
	 font-size : 160%;
}

/* サイドメニュー本体の装飾 */
header {
  background: #333;
  padding: .5rem;
  text-align: right;
}
a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.side_bt {
	margin-top: 50px;
	margin-bottom: 30px;
	background: #8cc6ff;
	color: #000;
	border: none;
	width: 100%;
	height: 40px;
	font-size: 100%;
	transition: background-color 0.5s;
}

.side_bt2 {
	margin-bottom: 30px;
	background: #8cc6ff;
	color: #000;
	border: none;
	width: 100%;
	height: 40px;
	font-size: 100%;
	transition: background-color 0.5s;
}

.side_bt:hover {
	background-color: #5badff;
	font-size: 110%
}

.side_bt2:hover {
	background-color: #5badff;
	font-size: 110%
}

/* ボタン */
.btn-menu {
  position: sticky;
  top: 0;
  z-index : 10;
  border: 1px solid #999;
  background: #8cc6ff;
  color: #000;
  height: 43px;
  width: 55px;
  cursor: pointer;
  line-height: 1;
  border-color: #fff;
  font-size : 150%;
  transition: background-color 0.5s;
}

.btn-menu:hover {
	background: #5badff;
	font-size : 160%;
}

/* メニュー */
nav {
  background: #8cc6ff;
  position: sticky;
  top: 0;
  float: right;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: .5s;
  height: 585px
}
/* メニューを開いた時 */
nav.open-menu {
  width: 100%;
  z-index: 2;
}

/* 更新 */
